.searchInput{
   margin-bottom: 1rem;
   border-radius: 2rem;
   border: 1px solid #e1e0dc;
   display: flex;
   align-items: center;
   background: transparent;
   height: 60px;
   padding: 0;
   padding-left: 0px;
   width: 100%;
   padding-left: 4rem;
   font-size: 14px;
   font-weight: 400;
}
.searchWrapper{
   position: relative;
}
.searchIcon{
   position: absolute;
   left: 30px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 20px;
   color: #b7b7b7;
}